.cartBody{
    background-color: rgb(234, 234, 234) !important;
    /* border: 2px solid red; */
}

.cartContent{
    height: 32%;
    width: 72%;
    padding: 10px;
    background: white;
    /* border-radius: 10px; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.cartContentImage{
    height: 100%;
    width: 34%;
}

.cartContentImage img{
    height: 100%;
    width: 100%;
}

.cartButtons{
    display: flex;

}