.registerBody{
    height: auto;
    width: 100%;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 15px;
}

.registerBody span{
    color: blue;
    cursor: pointer;
}

.registerBody span:hover{
    color: orange !important;
    border-bottom: 1px solid orange;
}

hr{
    color: lightgrey !important;
}