.CartBody{
    
}

.userCartContent{
    background-color: rgb(234, 234, 234) !important;
    height: auto;
}

.shopingCart{
    width: 80%;
    margin: 20px;
    height: auto;
    background: white;
}

.shopingCart section{
    margin: 30px 20px 30px 20px;
}

@media (min-width:250px) and (max-width:900px){
    .shopingCart{
        width: 100%;
    }
}