.homeBody{
    height: auto;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    background: rgb(234, 234, 234);
    /* border: 1px solid red; */
}

.cardSection{
    background: rgb(234, 234, 234);
    /* display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; */
}

.recommendedContainer{
    height: auto;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: lightGrey;
}

.categoriesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width:250px) and (max-width:900px)
{

    
}