.homeBody{
    height: auto;
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    background: rgb(234, 234, 234);
    /* border: 1px solid red; */
}

.cardSection{
    background: rgb(234, 234, 234);
    /* display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; */
}

.categoriesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: -20%;
    position: relative;
    z-index:2;
}

.randomPicsContainer{
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: lightGrey;
}


@media (min-width:250px) and (max-width:650px)
{
    .categoriesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* flex-wrap: wrap; */
        /* border: 1px solid red; */
    }    
    
}