.categoriesBody{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;

}

.forDesktopView{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.categoriesCard{
    height: 350px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 3px gray;
    margin: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: last baseline; */
    justify-content: center;
    text-align: center;
    /* object-fit: contain; */
    /* object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    color: orange;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px gray;
    background-color: #fff;
}

.categoriesCard img{
    width: 100%;
    height: 80%;
    /* display: none; */
    /* border: 1px solid red; */
    border-radius: 5px 5px 0px 0px;
}


.categoriesCard p{
    /* text-shadow: 1px black; */
    font-size: 20px;
    /* border: 1px solid red; */
    /* text-align: center; */
}

.link{
    text-decoration: none !important;
}

@media (min-width:250px) and (max-width:550px){

    .categoriesBody{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
    
    .categoriesCard{
        height: 200px;
        width: 45% !important;
        margin: 5px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    .categoriesCard img{
        width: 99%;
        height: 70%;
    }
    

    .categoriesCard p{
        font-size: 15px;
    }
}