.categoriesBody{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.categoriesCard{
    height: 350px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 3px gray;
    margin: 15px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    text-align: center;
    object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: orange;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0px gray;
    background-color: #fff;
}

.categoriesCard h1{
    /* text-shadow: 1px black; */
}

.link{
    text-decoration: none !important;
}