.navLogo{
    height:45px;
    width: 150px;
    margin: 5px;
    cursor: pointer;
}

.navLogo:hover{
    border : 1px solid white;
}

.navLogo img{
 height: 100%;
 width: 100%;
}

.drawerNavLogo{
    height:45px;
    width: 150px;
    margin: 5px;
}

.drawerNavLogo:hover{
    border : 1px solid white;
}

.drawerNavLogo img{
 height: 100%;
 width: 100%;
}

.navCenter{
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.deliver{
    height: 45px;
    width: auto;
    padding: 2px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
}

.deliver:hover{
    border : 1px solid white;
}

.locationIcon{
    display: flex;
    align-items: last baseline;
}

.userName{
    display: flex;
    flex-direction: column;
    /* line-height: 5px; */
}

.navSearchBox{
    height: 45px;
    width: 75%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    align-items: center;

}

.navSelector{
    height: 45px;
    width: 10%;
    padding: 1px;
    /* border: 1px solid white; */
}

.navSelector select{
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* border:  3px solid orange; */
    background: lightgrey;
}

.navInput{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.navInput input{
    height: 99%;
    width: 100% !important;
    margin: 0px;
    /* border: 1px solid red; */
    border-radius: 0px;
}

.navSearchIcon{
    width: 10%;
    height: 100%;
    background: orange;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 1px solid red; */
}

.navbarButtons{
    color: #fff !important;
    height: 50px;
    margin-top: 0%;
}

.navbarButtons:hover{
    border: 1px solid white;
}

.accountsDiv{
    height:auto;
    width: 250px;
    background: white;
    color: black;
    border-radius: 10px;
    /* padding: 10px; */
    display: none;
    position: fixed;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    transform: translateY(51px);
}

.navbarButtons:hover .accountsDiv{
    display: block !important;
}

.accountsDiv:hover{
    display: flex;
}

.accountsDiv ul{
    list-style: none;
    padding-left: 20px;
    font-size: 13px;
    text-align: left;
    line-height: 25px;
    /* border: 1px solid red; */
}

.accountsDiv li:hover{
    color: orange;
}

.NavButtons button{
    background: transparent;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 5px;
}

/* .NavButtons{
    display: flex !important;
} */

.tabNavSearchBox{
    display: none;
}
@media (min-width:250px) and (max-width:600px)
{
    .navLogo{
        margin-left: 60%;
    }
    .navCenter{
        /* border: 1px solid red; */
        display: none;
    }

    .mobNavSearchBox{
        height: 45px;
        width: 95%;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid white;
        display: flex;
        align-items: center;
    }
    
}

/* --------CSS for Tab---- */

@media (min-width:600px) and (max-width:950px)
{
    .DesktopNav{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around !important;
    }

    /* .toggleIcon{
        display: block !important;
    } */

    .navLogo{
        margin-left: 1%;
    }

    .navCenter{
        display: none;
    }

    .tabNavSearchBox{
        height: 45px;
        width: 40%;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid white;
        display: flex;
        align-items: center;
    }

    .tabNavSearchBox .navSelector{
        display: none;
    }

    .tabNavSearchBox .navInput{
        width: 80%;
    }

    .tabNavSearchBox .navSearchIcon{
        width: 20%;
    }

    .NavButtons{
        display: flex !important;
        /* margin-right: 1px !important; */
        /* border: 1px solid red; */
    }

    .NavButtons .navbarButtons{
        /* border: 1px solid white; */
        margin: 4px;
    }

}