.cartCardBody{
    
}

.cartCard{
    height: 250px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.cardDescription{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.cartCard .productImage{
    height: 90%;
    width: 22%;
    margin: 10px;
    /* border: 1px solid red; */
}

.productImage img{
    height: 100%;
    width: 100%;
}

.productDescription{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 66%;
    /* border: 1px solid red; */
}

.cartCard-Actions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 2%; */
    /* border: 1px solid red; */
}

#qty0 select{
    border: none;
    font-size: 15px;
    background: transparent !important;
}

#qty0{
    border: 1px solid lightgrey;
    height: 40px !important;
    width: 80px !important;
    border-radius: 10px !important;
}

.sectionButtons{
    display: flex;
    /* border: 1px solid red; */
}

.sectionButtons button{
    background: transparent;
    border-left: 1px solid rgb(106, 133, 106);
    border-right: 1px solid rgb(106, 133, 106);
    border-bottom: 0px;
    border-top: 0px;
    margin: 7px;
    cursor: pointer;
    color: rgb(106, 133, 106);
    width: auto;
}

.sectionButtons button:hover{
    text-decoration: underline;
}

/* CSS for mobile view */

.cartCard-buttons-mobile-view{
    display: none;
}


@media (min-width:250px) and (max-width:778px){
    .cartCard{
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: space-around !important;
        /* border: 1px solid red; */
    }

    .cartCard-Actions{
        display: none;
    }

    .cartCardBody #checkbox1{
        /* display: none; */
        /* border: 1px solid red; */
    }

    .cardDescription{
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }

/*------- Mobile view------------ */

    .cartCard-buttons-mobile-view{
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red;     */
    }
    
    .productImage{
        width: 45%;
        height: 70% !important;
        /* border: 1px solid red; */
    }

    .productDescription{
        width: 100%;
        font-size: 15px;
        /* border: 1px solid red; */
        justify-content: center;
        padding-left: 20px;
    }

    .qtyBtn{
        height: 20px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid black;
    }

    .cartCard-buttons-mobile-view #qty1{
        width: 30px;
        text-align: center; 
        display: flex;   
        align-items: center;
        justify-content: space-evenly;
    }
    
    .qtyBtn button{
        height: 100%;
    }

}

@media (min-width:778px) and (max-width:950px){

    .cartCard{
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }

    .cardDescription{
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
    }
    .productDescription{
        /* width: 100%; */
        /* height: 40%; */
        /* line-height: 15px; */
        /* border: 1px solid red; */
    }

    .productImage{
        /* width: 60%; */
        /* border: 1px solid red; */
    }

    .cartCard-Actions{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 0px;
        /* border: 1px solid red; */
    }
    

}