.randomPicsBody{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    height: auto;
}

.randomPicsCardContainer{
    height: auto;
    width: 340px;
    background: white;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: center; */
    padding: 5px;
    position: relative;
    margin: 5px;
    object-fit: cover;
    /* border: 1px solid red; */
    cursor: pointer;
}



@media (min-width:250px) and (max-width:600px){
    .randomPicsBody{
        flex-direction: column;
    }
    
    .randomPicsCardContainer{
        height: auto;
        width: 100%;
    }
}

/* --------CSS for Tab---- */

@media (min-width:600px) and (max-width:950px){

}