.payLeftContainer{
    width: 64%;
    margin-left: 3%;
    /* border: 1px solid red ; */
}

.deliveryAddress{
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.deliveryAddressCard{
    width: 30%;
    /* border: 1px solid red; */
}

.payLeftContainer span{
    color: rgb(46, 140, 157);
    cursor: pointer;
}

.payLeftContainer span:hover{
    color: rgb(255, 94, 0);
    text-decoration: underline;
    /* border-bottom: 1px solid rgb(255, 94, 0); */
}

.checkoutAddresses{
    /* border: 1px solid red; */
}

.reviewPay{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirmOrderToPay{
    line-height: 5px;

}
.reviewPay {
    flex-wrap: wrap;
}

.reviewPay p{
    line-height: 20px;
}


@media (min-width:250px) and (max-width:650px){
    .checkoutAddresses{
        width: 95%;
        /* border: 1px solid red;
        margin: 10px 10px 10px 10px !important; */
    }

    .confirmAddress button{
        width: 80% !important;
        /* border: 1px solid red; */
    }

    .payLeftContainer{
        width: 95%;
        line-height: 20px;
        /* border: 1px solid red; */
    }

    .reviewPay{
        display: flex;
        flex-direction: column;
        line-height: 20px;
        /* border: 1px solid red; */
    }

    .reviewPay button{
        padding: 10px;
        width: 100% !important;
    }

    .reviewPay p{
        line-height: 20px;
    }
}